/* page layout */
body {
margin-left: 119px;
margin-right: 119px;
margin-top: 27px;
font-family: Rubik;
font-weight: bold;
font-size: 16px;
line-height: 19px;
background: #F1EFE2;

}


/* landing page title */
h1 {
font-family: Helvetica; 
font-style: normal;
font-weight: bold;
font-size: 80px;
color: #0A2338;
text-align: left;
}

/* main headings */
h2 {
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 140%;
}

/* subheadings - events, navbar, etc*/
h3{
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 40px;
letter-spacing: 0.1em;

}

/* subheadings - join our community*/
h4 {
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
}

/* smaller subheadings - Creating pipelines, empowering women */
h5 {
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
color: #212353;
}

/* footer text */
h6 {
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 18.99px;
line-height: 180%;
letter-spacing: 0.01em;
}

/* paragraph text */
p {
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 10.8866px;
line-height: 160%;
color: #4B5D68;
}


/* membership button */
.button {
  background-color: #E68976;
  border: none;
  color: white;
  font-family: Avenir;
  font-style: normal;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

/* nav bar button */
.joinbutton {
  background-color:#E57154;
  border: none;
  color: white;
  font-style: normal;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}

/* nav bar layout */
.topnav {
  overflow: hidden;
 
}

/* nav bar links*/
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 16px;
}

/* nav bar hover colour (possibly change) */
.topnav a:hover {
  
  color: black;
}

/* nav bar active page colour (possibly change) */
.topnav a.active {
  
  color: black;
}

/* nav bar layout*/
.topnav-right {
  float: right;
}

/* table spacing */
#objectives td, #objectives th {
  padding-left: 100px;
   padding-right: 100px;
}









